@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Garamond';
}

h1 {
  @apply font-bold text-nowrap h-14 text-5xl bg-gradient-to-br from-primary to-accent text-transparent bg-clip-text inline-block;
}

p {
  @apply text-xl;
}

@media screen and (max-width: 984px) {
  #hero {
    padding: 7rem 1.25rem 1.25rem 1.25rem;
    justify-content: center !important;
    flex-direction: column-reverse;
    align-items: center;
  }

  #nav-mobile {
    visibility: visible !important;
    width: fit-content !important;
  }

  #nav-desktop {
    visibility: hidden !important;
    width: 0px !important;
    height: 60px !important;
  }

  .section {
    padding: 5rem 1.25rem 5rem 1.25rem !important;
  }
}

#nav-mobile {
  visibility: hidden;
  width: 0px;
}

#hero {
  justify-content: space-between;
}
